#blog-post {
  justify-content: center;
  max-width: calc(100vw - 16px);
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#blog-post img {
  max-width: calc(100vw - 16px);
  height: auto;
}

#blog-post h1 {
  font-size: 36px;
}

#blog-post p {
  font-size: 20px;
}
