#blog-post {
  justify-content: center;
  max-width: calc(100cqw - 16px);
  margin-left: auto;
  margin-right: auto;
  width: 1000px;

  img {
    max-width: calc(100cqw - 16px);
    height: auto;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    td {
      padding: 10px;
      border: 1px solid gray;
    }
  }
}
