:root {
  --background: white;
  --foreground: black;
  --pronouns: purple;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
  --pronouns: pink;
}

header {
  position: absolute;
  width: 100%;
  top: 10px;
  right: 10px;
  text-align: right;
}

.pronouns {
  animation: pronouns 2s linear infinite;
}

@keyframes pronouns {
  0% {
    color: var(--pronouns);
  }
  50% {
    color: var(--foreground);
  }
  100% {
    color: var(--pronouns);
  }
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  height: 400px;
  width: 400px;
}

.marquee-left {
  overflow: hidden;
  animation: left 2s linear infinite;
}

.marquee-up {
  overflow: hidden;
  animation: up 2s linear infinite;
}

.marquee-bounce {
  overflow: hidden;
  margin-left: 400px;
  animation: bounce 2s linear infinite;
}

@keyframes left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes bounce {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-50%);
  }
}
