:root {
  color-scheme: light dark;

  /*
    theme selector that requires no javascript. yes, really
    adapted from https://lyra.horse/blog/2025/08/you-dont-need-js
  */
  &:has(#theme-selector > option[value="light"]:checked) {
    color-scheme: light;
  }
  &:has(#theme-selector > option[value="dark"]:checked) {
    color-scheme: dark;
  }

  /* workaround until browsers implement https://github.com/w3c/csswg-drafts/issues/5254#issuecomment-2876773927 */
  container-type: inline-size;
}

header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 4px;
  /*
    some pages have a hamburger menu at the top left on tiny screen widths
    we dont want the nav bar to overlap with it
  */
  padding-left: 30px;
  width: calc(100% - 30px);

  @container (width >= 960px) {
    /* biome-ignore lint/suspicious/noDuplicateProperties: biome bug */
    position: fixed;
    /* twoslash popups are z-index 9 */
    z-index: 10;
    padding: 0;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
  }

  & > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  :not(nav) {
    text-align: center;
    margin: 0 4px;
  }
}

code {
  /* 15/16, alternative to doing 15px */
  font-size: 0.9375rem;
}

.sub {
  vertical-align: sub;
}

.sup /* erchupu */ {
  vertical-align: super;
}

.shiki {
  border-radius: 8px;
  padding: 15px;
}

.twoslash {
  --twoslash-popup-bg: light-dark(
    hsl(from var(--shiki-light-bg) h s calc(l - 3)),
    hsl(from var(--shiki-dark-bg) h s calc(l + 3))
  );
}

:not(.shiki) > code:not(.twoslash-popup-code) {
  padding: 0 4px;
  border-radius: 0.2rem;
  background-color: light-dark(#e8e8e8, #0d1117);
}

pre:not(.twoslash) {
  overflow-x: auto;
}

.twoslash-hover {
  border: none !important;
  transition: none !important;
}

.twoslash-popup-code {
  /*
    codeblock padding - 15px
    twoslash padding - 8px * 2
    border - 2px
    total - 33px

    minimum body margin - 8px
  */
  max-width: calc(100cqw - max((100cqw - 900px) / 2, 8px) - 33px);
  overflow-x: auto;

  & > pre {
    margin: 0;
    padding: 0;
    background-color: var(--twoslash-popup-bg) !important;
  }
}

.no-jsdoc.twoslash .twoslash-popup-docs {
  display: none;
}
