#intro {
  text-align: justify;
  max-width: 1000px;
  padding: 0 8px;
  margin: 0 auto;
  & > h1 {
    text-align: center;
  }
}

figure {
  margin: 20px;
  border: 1px solid gray;
  padding: 5px;
  text-align: center;
}

figcaption {
  padding: 5px;
}

#luigi {
  float: right;
}

#vespines {
  float: left;
}
