main {
  justify-content: center;
  max-width: calc(100vw - 16px);
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

body {
  overflow-x: hidden;
}

ul {
  padding-left: 18px;
}

#sidebar {
  display: block;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

[popover] {
  all: unset;
}

#sidebar-button {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 7px;
  padding: 8px;
  width: 30px;
  height: 30px;
  border: solid gray;
  border-width: 1px;
  border-radius: 4px;
  z-index: 100;
}

@media (max-width: 1300px) {
  #sidebar {
    display: none;
    top: 0;
    left: 0;
    z-index: 50;
    border: none;
    padding: 1rem;
    margin: 0;
    width: 200px;
    height: fit-content;
  }

  [popover] {
    all: revert;
  }

  #sidebar:popover-open {
    display: block;
  }

  #sidebar-button {
    display: flex;
  }
}

.option {
  padding-bottom: 10px;
}

.shiki {
  font-size: 15px;
}

#used-by {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 400px;
  gap: 7px;
}

#used-by-entries {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 1em;
  flex: 1;
}

#used-by-entries > div {
  display: flex;
  flex-direction: column;
  animation: scroll-up 25s linear infinite;
}

@media (prefers-reduced-motion) {
  #used-by-entries {
    overflow-y: auto;
    height: 40px;
  }

  #used-by-entries > div {
    animation: none !important;
  }
}

@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}
