main {
  justify-content: center;
  max-width: calc(100vw - 16px);
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

ul {
  padding-left: 18px;
}

hr {
  margin: 32px 0;
}

#sidebar {
  display: block;
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;
  &::backdrop {
    backdrop-filter: blur(3px);
  }
}

[popover] {
  all: unset;
}

#sidebar-button {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 7px;
  padding: 8px;
  width: 30px;
  height: 30px;
  border: solid gray;
  border-width: 1px;
  border-radius: 4px;
  z-index: 100;
}

@media (max-width: 1300px) {
  #sidebar {
    display: none;
    top: 0;
    left: 0;
    z-index: 50;
    border: none;
    padding: 1rem;
    margin: 0;
    width: 200px;
    &:popover-open {
      display: block;
    }
  }

  [popover] {
    all: revert;
  }

  #sidebar-button {
    display: flex;
  }
}

.entry > h3 {
  margin-bottom: 1.7em;
}

.shiki {
  font-size: 15px;
}

#used-by {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: pre-wrap;
  row-gap: 6px;
}

#used-by-entries {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 1em;
  mask-image: linear-gradient(90deg, #000 60%, transparent);
  flex: 1;
  & > * {
    display: flex;
    flex-direction: column;
    width: max-content;

    /*
      rare css-only marquee with no duplication
      i have no idea how this works
      https://codepen.io/bitgrip-thomas/pen/mdZbgXN
    */
    --marquee-item-position: calc(var(--marquee-item-index) + 1);
    --duration: 45s;
    --duration-per-item: calc(var(--duration) / var(--marquee-count));
    --delay: calc(-1 * var(--duration-per-item) * (var(--marquee-count) - var(--marquee-item-position)));

    animation: scroll-up var(--duration) var(--delay) linear infinite;
  }
}

@keyframes scroll-up {
  from {
    translate: 0 calc(100% * (var(--marquee-count) - var(--marquee-item-position)));
  }
  to {
    translate: 0 calc(-100% * var(--marquee-item-position));
  }
}

@media (prefers-reduced-motion) {
  #used-by-entries {
    overflow-y: auto;
    height: 40px;
    & > * {
      animation: none !important;
    }
  }
}

#chart {
  display: block;
  border: hidden;
  border-radius: 8px;
  overflow: hidden;
  height: 630px;
  width: 760px;
  max-width: 100%;
}
